<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
	<!-- Servlets -->
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>ycp.edu.cs320.adventure.servlets.IndexServlet</servlet-class>
	</servlet>
	
  	<servlet>
  		<servlet-name>TitleScreenServlet</servlet-name>
  		<servlet-class>ycp.edu.cs320.adventure.servlets.TitleScreenServlet</servlet-class>
  	</servlet>
  	  
  	<servlet>
  		<servlet-name>GameServlet</servlet-name>
  		<servlet-class>ycp.edu.cs320.adventure.servlets.GameServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>LoadGameServlet</servlet-name>
  		<servlet-class>ycp.edu.cs320.adventure.servlets.LoadGameServlet</servlet-class>
  	</servlet>
  	  
	<!-- Servlet mappings -->
	<servlet-mapping>
    	<servlet-name>IndexServlet</servlet-name>
    	<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TitleScreenServlet</servlet-name>
		<url-pattern>/titleScreen</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GameServlet</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoadGameServlet</servlet-name>
		<url-pattern>/loadGame</url-pattern>
	</servlet-mapping>
</web-app>